<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-emisor">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>

  <h1>soy el emisor</h1>
  <button on-click="hacerLogin">Pulsame</button>
</template>

<script>

/**
* @customElement
* @polymer
*/
class DemoEmisor extends Polymer.Element {
  static get is() { return 'demo-emisor'; }
  static get properties() {
    return {

    };
  }
  hacerLogin(){
    console.log("Emisor: He pulado el boton")
    this.dispatchEvent(new CustomEvent('loginok',{detail:{usuario:"Colapi",origen:"TechU",pais:"colombia"}}))
  }
}

window.customElements.define(DemoEmisor.is, DemoEmisor);
</script>
</dom-module>
