<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-receptor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
         <h2>Soy el receptor</h2>
         <h3 >Origen: {{origenRecibido}}</h3>
         <h3>Usuario: {{usuarioRecibido}}</h3>
         <h3>Pais: {{paisRecibido}}</h3>
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class DemoReceptor extends Polymer.Element {
      static get is() { return 'demo-receptor'; }
      static get properties() {
        return {
          origenRecibido: {
            type: String
          },
          usuarioRecibido: {
            type: String
          },
          paisRecibido: {
            type: String
          }
        };
      }
      mostrarDatosRecibidos(data){
        console.log("receptor:"+JSON.stringify(data));
        this.origenRecibido= data.origen;
        this.usuarioRecibido= data.usuario;
        this.paisRecibido= data.pais;
      }
    }

    window.customElements.define(DemoReceptor.is, DemoReceptor);
  </script>
</dom-module>
