<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12 text-info">Movimientos</h2>
     <table class="table table-bordered table-hover table-striped">
       <thead class="table-dark">
         <tr>
           <th scope="col">Num movimiento</th>
           <th scope="col">valor</th>
           <th scope="col">Fecha</th>
           <th scope="col">Descripcion</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsUser" items="{{movements}}">
         <tr>
           <td scope="row">{{item.idmov}}</td>
           <td>{{item.importe}}</td>
           <td>{{item.fecha}}</td>
           <td>{{item.descripcion}}</td>
         </tr>
       </template>
     </table>
   <iron-ajax
    id="getMov"
    url="http://localhost:3000/colapi/v3/users/{{id}}/accounts/'{{iban}}'/movements"
    handle-as="json"
    on-response="showData"
    on-error="showError">

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          movements: {
            type: Array
          },
          id: {
            type: String
          },
          iban: {
            type: String
          }
        };
      }
      showData(data){
        console.log("Recibidos datos del usuario") ;
        console.log(data.detail.response);
        this.movements=data.detail.response;
      }
      consMov(data){
        this.id=data.id;
        this.iban=data.iban;
        console.log(this.id);
        this.$.getMov.generateRequest();
      }
      showError(error) {
        alert("No existen movimientos  a listar");
        this.movements=[];
        console.log(error);
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
