<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12 text-info">Cuentas</h2>
     <table class="table table-bordered table-hover table-striped">
       <thead class="table-dark">
         <tr>
           <th scope="col">IBAN</th>
           <th scope="col">Saldo</th>
           <th scope="col">Movimientos</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsUser" items="{{accounts}}">
         <tr>
           <td scope="row">{{item.IBAN}}</td>
           <td>{{item.balance}}</td>
           <td><a class="btn btn-info" on-click="vermov">Ver movimientos</a></td>
         </tr>
       </template>
     </table>
     <iron-pages selected=[[page]] attr-for-selected="page">

       <visor-movimientos id="movimientos" page="movimientos"></visor-movimientos>
     </iron-pages>
   <iron-ajax
    id="getAccounts"
    url="http://localhost:3000/colapi/v3/users/{{id}}/accounts"
    handle-as="json"
    on-response="showData" >

  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          id: {
            type: String
          },
          page: {
            type: String
          }

        };
      }
      showData(data){
        console.log("Recibidos datos del usuario") ;
        console.log(data.detail.response);
        this.accounts=data.detail.response;
      }
      consCuentas(id){
        this.id=id;
        console.log(this.id);
        this.$.getAccounts.generateRequest();
      }
      vermov(e){
        var data ={
          id:this.id,
          iban:e.model.__data.item.IBAN
        }
        this.$.movimientos.consMov(data);
        this.page="movimientos"
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
