<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/bower_components/app-router/app-router.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">


<dom-module id="visor-usuario">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="form-group row">
      <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
      total columnas 12 (que indica el ancho máximo)-->
      <!-- media query -->
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3">
            <h2>Bienvenido:</h2>
          </div>
          <div class="col-md-9">
            <span>{{first_name}} {{last_name}}</span>
          </div>
        </div>

      </div>
      <div align="right" class="col-md-7">
        <button class="btn btn-danger btn-lg btn-signin" on-click="logout">Logout</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" align="center">
        <visor-cuentas id="cuentas" page="cuentas"></visor-cuentas>
        <!--app-router>
          <app-route path="/cuentas" import="/src/visor-cuentas/visor-cuentas.html"></app-route>
          <app-route path="/movimientos/[[id]]" import="/src/visor-movimientos/visor-movimientos.html"></app-route>
        </app-router-->
        <!--visor-cuentas id="cuentas"></visor-cuentas-->

        <!--iron-pages selected=[[page]] attr-for-selected="page">

          <visor-movimientos page="movimientos"></visor-movimientos>
        </iron-pages-->

      </div>
    </div>

   <iron-ajax
    id="getUser"
    url="http://localhost:3000/colapi/v3/users/{{id}}"
    handle-as="json"
    on-response="showData" >
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/colapi/v3/logout"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="logoutAJAXResponse"
      on-error="showError">

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          page:{
            type: String
          }
        };
      }
      hideuser(){
        this.usu=true;
      }
      mostrarusuario(usu){
          this.id=usu;
          console.log(this.id);
          this.$.getUser.generateRequest();
      }
      showData(data){
        console.log("Recibidos datos del usuario:" + JSON.stringify(data.detail.response)) ;
        this.id=data.detail.response.id;

        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
        this.$.cuentas.consCuentas(this.id);
      }
      logout() {
        console.log("El usuario ha pulsado el boton salir.");
        var loginData = {
          "id" : this.id
        };

        this.$.doLogout.body = JSON.stringify(loginData);
        // hacemos petición con los datos del formulario del iron-ajax
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");
      }
      logoutAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged = false;
        // redirigir
        //window.location = "/visor-usuario/" + data.detail.response.idUsuario;
        window.location = "/" ;

      }
      showError(error) {
        console.log("Hubo un error");
        alert("Datos Ingresados Incorrectos Valide");
        console.log(error);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
