<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/login-logout/login-logout.html">

<dom-module id="controlador-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden={{visible}}>
      <login-usuario id="login"></login-usuario>
    </div>
    <div hidden={{!visible}}>
        <visor-usuario id="usuario"></visor-usuario>
    </div>

  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class ControladorPadre extends Polymer.Element {
      static get is() { return 'controlador-padre'; }
      ready(){
        super.ready()
        this.$.login.addEventListener('loginok',e =>{this.procesarLogin(e)})
      }
      static get properties() {
        return {
          visible :{
          type:Boolean,
          value:false
          }
        };
      }
    procesarLogin(e){
        console.log("soy tu padre: "+ JSON.stringify(e.detail))
        this.visible=e.detail.isLogged;
        console.log(this.visible);
        this.$.usuario.mostrarusuario(e.detail.usuario)
    }
    }

    window.customElements.define(ControladorPadre.is, ControladorPadre);
  </script>
</dom-module>
